@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root{
    --cor-primaria:#000000 ; 
    --cor-secundaria: #F6F6F6 ; 
    --cor-terciaria: #22D4FD; 
    --cor-hover:#272727;

    --fonte-primaria: "Krona One",sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    /* height: 100vh; */
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);

}


.cabecalho{
    display: flex;
    justify-content: center;
    padding: 2% 0% 5% 0%;
    gap: 50px;
}
.cabecalho__menu{
    display: flex;
    gap: 80px;
    align-items: center;
   
}

.cabecalho__menu__link{
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.cabecalho__menu__link:hover{
    background-color: var(--cor-hover)
    }

.apresentacao {
    padding: 5% 15%;
    display: flex; 
    align-items: center;
    justify-content: center;
    gap: 82px;
}

.apresentacao2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0% 0% 0% 0%
}

.apresentacao__conteudo {
    
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 0% 0% 20% 0%;
}

.apresentacao__conteudo2{
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    padding: 25% 0% 0% 0%;
    

}

.apresentacao__conteudo_projetos1{
    display: flex;
    flex-direction: column;
    
    align-items: center;
    padding: 5% 0% 5% 0%;

}

.apresentacao__conteudo_projetos2{
    display: flex;
    flex-direction: column;
    
    align-items: center;
    padding: 5% 0% 5% 0%;

}


.apresentacao__conteudo__titulo_div {
    
    justify-content: center;
    align-items: center;
    
}


.apresentacao__conteudo__titulo {
    font-size: 2.25rem;
    font-family:var(--fonte-primaria);

  
}


.titulo-destaque {
    color: var(--cor-terciaria);
    
}


.apresentacao__conteudo__texto {
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
}



.apresentacao__links{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    
}

.apresentacao__links__subtitulo{
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5;
    
}

.apresentacao__links__navegacao {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terciaria);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--font-secundaria);
    
    
}


.apresentacao__links__navegacao_projetos {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terciaria);
    width: 25%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--font-secundaria);
    
    
}

.apresentacao__links__navegacao_projetos:hover {
    
    background-color:var(--cor-hover)
}

.apresentacao__links__navegacao:hover {
    
    background-color:var(--cor-hover)
}

.apresentacao__imagem {
    width: 40%;

}

.apresentacao__imagem2 {
    width: 25%;
    padding: 5% 0% 5% 0%;
}

.apresentacao__imagem3 {
    width: 25%;
    padding: 5% 0% 5% 0%;
}

.apresentacao__imagem4 {
    width: 25%;
    padding: 5% 0% 5% 0%;
}

.apresentacao__imagem_projetos {
    width: 25%;

    border-radius: 8px;
    border: 2px solid var(--cor-terciaria);
}

.icone {
    width: 25px; 
    height: auto;  
    
}

.rodape{
    padding: 24px;
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
}

@media (max-width: 1200px) {
    .cabecalho{
        padding: 10% 25% 0% 25%;
       
        
    }
    .cabecalho__menu{
        justify-content: center;
        gap: 35px;
    }

    .cabecalho__menu__link{
        font-family: var(--fonte-secundaria);
        font-size: 1rem;
        font-weight: 600;
        color: var(--cor-terciaria);
        text-decoration: none;
    }

    .apresentacao{
        flex-direction: column-reverse;
        padding: 5%;
    
    }

    .apresentacao__imagem {
        width: 60%;
    
    }

    .apresentacao__conteudo {
        width: auto;
        padding: 0% 0% 20% 0%;
        justify-content: center;
        
    }
    .apresentacao__conteudo__titulo{
        justify-content: center;
        align-items: center;
    }

}


