@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');


:root{
    --cor-primaria:#000000 ; 
    --cor-secundaria: #F6F6F6 ; 
    --cor-terciaria: #22D4FD; 
    --cor-hover:#272727;

    --fonte-primaria: "Krona One",sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}


body {
    /* height: 100vh; */
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);

}


.cabecalho2{
    display: flex;
    justify-content: center;
    padding: 2% 0% 5% 0%;
    gap: 50px;
}
.cabecalho__menu2{
    display: flex;
    gap: 80px;
    align-items: center;
    
}
    

.cabecalho__menu__link2{
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}


.apresentacao2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0% 0% 0% 0%
}


.apresentacao__conteudo2{
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;

}

.apresentacao__imagem2{
    margin: 0px;
    padding-top: 0%;
    width: 10%;
}


.rodape{
    padding: 24px;
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
}


@media (max-width: 1200px) {
    .cabecalho2{
        padding: 10%;

    }
    .cabecalho__menu2{
        justify-content: center;
    }

    .apresentacao{
        flex-direction: column-reverse;
        padding: 5%;
    
    }
 
    .apresentacao__conteudo {
        width: auto;
    }
}